/* General */
$fontSize:14px;
$borderRadius:12px;
$transitionDuration:.2s;
$colorLegenda: rgb(126, 123, 159); 
$wheitLegend: 500;
$fontBanner: "Gagalin", sans-serif;
$bg-red-custom: #ff1744;
$bg-redLight-custom: #f50057;
$bg-purple-custom: #d500f9;
$bg-yellow-custom: rgb(255, 234, 0);
$bg-green-custom: #1de9b6;
$bg-cianes-custom: #00e5ff;
$bg-black-custom: #000;
$bg-blue-custom: #6C63FF;
$bg-orange-custom: #ff9100;

.bg-close{
    background-color: $bg-red-custom;
    box-shadow: 0 5px 10px $bg-red-custom !important;   
    border-color: $bg-red-custom;
    
}
.bg-open{
    background-color: $bg-green-custom;
}

.bg-orange-custom{
    background-color: $bg-orange-custom;
    border-color: $bg-orange-custom;
    box-shadow: 0 2px 2px $bg-orange-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}

.bg-redLight-custom{
    background-color: $bg-redLight-custom;
    border-color: $bg-redLight-custom;
    box-shadow: 0 2px 2px $bg-redLight-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}

.bg-blue-custom{
    background-color: $bg-blue-custom;
    border-color: $bg-blue-custom;
    box-shadow: 0 2px 2px $bg-blue-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}

.bg-green-custom{
    background-color: $bg-green-custom;
    border-color: $bg-green-custom;
    box-shadow: 0 2px 2px $bg-green-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.bg-black-custom{
    background-color: $bg-black-custom;
    border-color: $bg-black-custom;
    box-shadow: 0 2px 2px $bg-black-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.bg-red-custom{
    background-color: $bg-red-custom;
    box-shadow: 0 2px 2px $bg-red-custom !important;   
    border-color: $bg-red-custom;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.bg-purple-custom{
    background-color: $bg-purple-custom;
    border-color: $bg-purple-custom;
    box-shadow: 0 2px 2px $bg-purple-custom !important;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.bg-cianes-custom{
    background-color: $bg-cianes-custom;
    box-shadow: 0 2px 2px $bg-cianes-custom !important;
    border-color: $bg-cianes-custom;
    transition: all .2s ease-out;
    width: 100%;
     &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.bg-yellow-custom{
    background-color: $bg-yellow-custom;
    box-shadow: 0 2px 2px $bg-yellow-custom !important;
    border-color: $bg-yellow-custom;
    transition: all .2s ease-out;
    width: 100%;
    &:hover{
        box-shadow: 0 2px 2px $bg-black-custom !important;
    }
}
.legenda {
    color: $colorLegenda;
    font-size: $fontSize;
    font-weight: $wheitLegend;
    line-height: 150%;
}
.fontBanner{
  font-family: $fontBanner;
  font-size: 7vw;
}
@media only screen and (max-width: 800px) {
    .fontBanner{
      font-size: 9vw;
    }
}
.svg {
    width: 10%;
    fill: #72a200 !important;
    &:hover{   fill: $bg-yellow-custom !important}
}

.button-burguer {
    font-style: none;
    color: black;
    transition: opacity 400ms ease 0s, transform 400ms ease 0s;
    transform: translateY(0px);
    opacity: 1;
    padding: 20px 16px !important;
}
.button-burguer:hover {
    transition: opacity 400ms ease 0s, transform 400ms ease 0s;
    transform: translateY(0px);
    opacity: 1;
    background-color: rgb(250, 250, 250);
}
.button-sort{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5px;
}

.bartopMenu{
    color: white;
    animation: changeColorBarTop 5s infinite alternate;
}

@keyframes changeColorBarTop {
    0% {
      color: #fff;
    }
    20%{
        color:$bg-cianes-custom;
    }
    40%{
        color: $bg-green-custom;
    }
    60%{
        color: $bg-yellow-custom;
    }
    80%{
        color: $bg-red-custom;
    }
    100% {
      color: $bg-purple-custom;
    }
  }

@keyframes changeColor {
    0% {
      fill: #fff;
    }
    20%{
        fill:$bg-cianes-custom;
    }
    40%{
        fill: $bg-green-custom;
    }
    60%{
        fill: $bg-yellow-custom;
    }
    80%{
        fill: $bg-red-custom;
    }
    100% {
      fill: $bg-purple-custom;
    }
  }